*{
    padding: 0;
    margin: 0;
    border: border-box;
}

header{
    width: 100%;
    height: 60px;
}
.logo h1{
    font-size: x-large;
    font-weight: lighter;
    padding-left: 50px;
    padding-top: 20px;

}
nav ul li{
    position: relative;
    bottom: 30px;
    left: 650px;
    display: inline-block;
    text-indent: 50px;
    cursor: pointer;
    
}
nav ul li a{
    text-decoration: none;
    font-weight: lighter;
    
    color: black;

}
.button{

    
    position: relative;
    bottom: 47px;
    
}
.button input{
    position: relative;
    bottom: 12px;
    left: 1200px;
    width: 6%;
    color: white;
    height: 40px;
    background-color: rgb(127, 110, 224);
    border: 1px solid rgb(127, 110, 224);
    cursor: pointer;
    border-radius: 50px;
}
main{
    width: 100%;
    height: 550px;
}
section{
    float: left;
    width: 50%;
    height: 550px;
}
section .content{
    margin-top: 150px;
}
.content h1{
    padding-left: 60px;
    font-size: 60px;
    color: rgb(37, 37, 97);
}
.content span h1{
        color: rgb(228, 228, 64);
        padding-bottom: 20px;
}
.content h4{
    padding-left: 30px;
    text-indent: 15px;
    font-weight: lighter;
    padding-bottom: 25px;
}
.content .butona{
    padding-left: 150px;
}
.content .butona input{
    width: 30%;
    height: 40px;
    background-color: rgb(127, 110, 224);
    border: 1px solid rgb(127, 110, 224);
    cursor: pointer;
    color: white;
    border-radius: 50px;
}
aside{
    width: 50%;
    height: 550px;
    float: right;
}
aside img{
    width: 100%;
    position: relative;
    right: 50px;

}
